<h1>Ironhack Lavadora</h1>
<p>Welcome to {{title}}</p>

<!--Si le user est co, on affiche son nom-->
{{#if userIsLoggedIn}}
<p>Hello, {{currentUserInfo.name}}</p>
{{/if}}

<!--on change également le menu-->
{{#if userIsLoggedIn}}
<li><a href="/launderers">Find a Launderer</a></li>
<li> <a href="/dashboard"> See Dashboard </a> </li>
<li> <a href="/logout"> Log Out </a> </li>
{{else}}
<li> <a href="/signup"> Sign Up </a> </li>
<li> <a href="/login"> Log In </a> </li>
{{/if}}